* {
	margin: 0px;
}

body {
	background-color: #666666;
	font-family: 'Open Sans';
}

header h1 {
	color: #FF0000;
}

header h4 span.tele {
	color: #353741;
	font-weight: bold;
}

header h4 span.addr {
	color: #8d93a3;
	font-weight: 300;
	font-size: 11px;
	text-transform: uppercase;
}
