* {
	margin: 0px;
}

body {
	background-color: #666666;
	font-family: 'Open Sans';
}

header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid #000000;
	margin: 14px auto;
	padding: 14px 0px;
	width: 1000px;
	height: 108px;
	background: #DEDEDE;
}

header h1 {
	color: #FF0000;
	width: 425px;
	display: inline-block;
}

header h4 {
	width: 480px;
	display: inline-block;
	text-align: right;
}

header h4 span.tele {
	color: #353741;
	font-weight: bold;
	display: block;
}

header h4 span.addr {
	color: #8d93a3;
	font-weight: 300;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
}
